.cardProducto {
    border: 2px solid green;
    width: 15rem;
    height: 90%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cardProducto img {
    width: 150px;
    height: 280px;
}

.cardProducto a {
    text-decoration: none;
    text-align: center;
    width: 240px;
    height: 55px;
    padding: 0px;
    background-color: green;
    color: white;
    font-weight: 600;
}

